#carousel_portada .item{
    width: 30% !important;
    float: left;
    display: none;
}

#carousel_portada .item:nth-child(1),
#carousel_portada .item:nth-child(2),
#carousel_portada .item:nth-child(3){
    display: block;
}

/*.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-6, .col-md-6, .col-lg-6{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-sm-10, .col-md-10, .col-lg-10 {
    width: 83.33333333333334%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-sm-4, .col-md-4, .col-lg-4 {
    width: 33.33333333333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

.col-sm-offset-1, .col-md-offset-1, .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after{
    display: table;
    content: " ";
}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

#r_sidebar .textwidget input[type="text"], #r_sidebar .textwidget input[type="email"], #r_sidebar .textwidget input[type="tel"], #r_sidebar .textwidget textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#r_sidebar .textwidget input[type="submit"]{
    float: right;
    display: inline-block;
    padding: 6px 30px;
    margin-bottom: 0;
    font-size: 17px;
    font-family: "Helvetica Lt" !important;
}

#container{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

#r_sidebar{
    width: 33.33333333333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item{
    margin: 0 0px 0 0;
    display: inline-block;
    height: auto;
}

#cabecera{
    width: 83.33333333333334%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    margin-left: 8.333333333333332%;
}

#cabecera .lenguaje {
    overflow: auto;
    padding: 15px 0px 0px;
    font-family: 'Helvetica Th';
    font-size: 13px;
}

.home-testimonios .home-testimonios-title{
    width: 33.33333333333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.home-testimonios-content{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.carousel{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-facebook:before{
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-pinterest:before {
    content: "\f0d2";
}
.fa-google:before {
    content: "\f1a0";
}
.fa-youtube:before {
    content: "\f167";
}
.fa-instagram:before {
    content: "\f16d";
}

.paddingcero {
    padding: 0px !important;
}
.margincero {
    margin: 0px !important;
}

#mega-menu-wrap-max_mega_menu_1, #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1, #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 ul.mega-sub-menu, #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-menu-item, #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 a.mega-menu-link{
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: none;
    border: 0;
    bottom: auto;
    box-sizing: border-box;
    clip: auto;
    color: #6f6f6f;
    display: block;
    float: none;
    font-family: inherit;
    font-size: 14px;
    height: auto;
    left: auto;
    line-height: 1.7;
    list-style-type: none;
    margin: 0;
    min-height: 0;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0;
    position: relative;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    top: auto;
    vertical-align: baseline;
    visibility: inherit;
    width: auto;
}

#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item > a.mega-menu-link{
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    outline: none;
    text-decoration: none;
    padding: 5px 17px 5px 17px;
    line-height: 40px;
    font-weight: normal;
    height: 40px;
    vertical-align: baseline;
    text-align: left;
    width: auto;
    display: block;
    color: #6f6f6f;
    text-transform: none;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    font-family: inherit;
    font-size: 13pt;
    cursor: pointer;
}

.da-slider{
    width: 80%;

    height: 400px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    background: transparent url(../images/waves.gif) repeat 0% 0%;
    border-top: 8px solid #efc34a;
    border-bottom: 8px solid #efc34a;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
    -webkit-transition: background-position 1.4s ease-in-out 0.3s;
    -moz-transition: background-position 1.4s ease-in-out 0.3s;
    -o-transition: background-position 1.4s ease-in-out 0.3s;
    -ms-transition: background-position 1.4s ease-in-out 0.3s;
    transition: background-position 1.4s ease-in-out 0.3s;
    border-top: 0px solid rgb(36, 36, 36);
    border-bottom: 0px solid rgb(36, 36, 36);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgb(255, 255, 255) 0px 0px 0px;
    background: rgb(155, 115, 80);
    height: 350px;
}/*