/*#servicios{background: none repeat scroll 0 0 #945E3A;padding: 35px 0px;overflow: auto;min-height: 54vh}

.servicios-item{background-color: #945E3A; margin-right: 10px; float: left; width: 18%;margin-bottom: 15px;}

.servicios-item img{display: block;height: auto;max-width: 100%;box-shadow: 0px 0px 3px rgba(255,255,255,0.3)}

.nombre_servicio{position: relative;top: -20px;font-size: 15px;font-family: "Helvetica Lt" !important;color:#FFFFFF;padding: 5px 10px 5px 20px;
    text-align: center;
    float: right;background: url('../images/fondo-servicios.png') no-repeat;}*/